.navbar{display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 70px;
}
.nav-items{
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: small;
    
}
.nav-items li{
    color: #6b7280;
}
.button{
    background-color:#2F61F3 ;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.hero{
    height: 700px;
    background: linear-gradient(to right,rgba(0,0,0,55),rgba(169, 157, 157, 0)),
    url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.hero h1{
    font-size: 70px;
    font-weight: 700;
}
  



.speakers{
    padding: 100px 0;
    background: #ffffffff;

}
.container{
    width: 90%;
    margin: 0 auto;
}
.speakers h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
    color: #101828;
}
.speaker-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

}
.speaker-card{
    width: 100%;
    max-width: 100%;
    background: #ffffffff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 12px;
    margin-bottom: 10px;
}




.speaker-card img{
    
    width:100%;
    height: auto;
    object-fit: cover;
    display: block;

}
.speaker-content{
    padding: 10px;
}
.category{
    color: #326ff3;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;

}

.speaker-content h3{

    font-size:22px;
    margin-top:10px;
    margin-bottom:2px;
    color:#111827;

}
.speaker-content p{

    color:#51555e;
    font-size:14px;
    line-height:.6;

}


